<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectManagement</display-name>  
 
<servlet>  
<servlet-name>GuideResponseServlet</servlet-name>  
<servlet-class>GuideResponseServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>GuideResponseServlet</servlet-name>  
<url-pattern>/GuideResponseServlet</url-pattern>
</servlet-mapping>
 
<servlet>  
<servlet-name>GuidesServlet</servlet-name>  
<servlet-class>GuidesServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>GuidesServlet</servlet-name>  
<url-pattern>/GuidesServlet</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>LoginServlet</servlet-name>  
<servlet-class>LoginServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>LoginServlet</servlet-name>  
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>ResetPassword</servlet-name>  
<servlet-class>ResetPassword</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ResetPassword</servlet-name>  
<url-pattern>/ResetPassword</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>UploadGuidesInfoServlet</servlet-name>  
<servlet-class>UploadGuidesInfoServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UploadGuidesInfoServlet</servlet-name>  
<url-pattern>/UploadGuidesInfoServlet</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>UploadSynopsisServlet</servlet-name>  
<servlet-class>UploadSynopsisServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UploadSynopsisServlet</servlet-name>  
<url-pattern>/UploadSynopsisServlet</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>UploadTeamInfoServlet</servlet-name>  
<servlet-class>UploadTeamInfoServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UploadTeamInfoServlet</servlet-name>  
<url-pattern>/UploadTeamInfoServlet</url-pattern>
</servlet-mapping>
  
<servlet>  
<servlet-name>PCTServlet</servlet-name>  
<servlet-class>PCTServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>PCTServlet</servlet-name>  
<url-pattern>/PCTServlet</url-pattern>
</servlet-mapping> 
<servlet>  
<servlet-name>ControlServlet</servlet-name>  
<servlet-class>ControlServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ControlServlet</servlet-name>  
<url-pattern>/ControlServlet</url-pattern>
</servlet-mapping>

<servlet>  
<servlet-name>DownloadFileServlet</servlet-name>  
<servlet-class>DownloadFileServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>DownloadFileServlet</servlet-name>  
<url-pattern>/DownloadFileServlet</url-pattern>
</servlet-mapping>  
  
<servlet>  
<servlet-name>SendMessageServlet</servlet-name>  
<servlet-class>SendMessageServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SendMessageServlet</servlet-name>  
<url-pattern>/SendMessageServlet</url-pattern>
</servlet-mapping> 
  
<servlet>  
<servlet-name>SubmitReport</servlet-name>  
<servlet-class>SubmitReport</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SubmitReport</servlet-name>  
<url-pattern>/SubmitReport</url-pattern>
</servlet-mapping>
  
<servlet>  
<servlet-name>HomeScreenNavServlet</servlet-name>  
<servlet-class>HomeScreenNavServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>HomeScreenNavServlet</servlet-name>  
<url-pattern>/HomeScreenNavServlet</url-pattern>
</servlet-mapping>
  
<servlet>  
<servlet-name>ProjectChatServlet</servlet-name>  
<servlet-class>ProjectChatServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ProjectChatServlet</servlet-name>  
<url-pattern>/ProjectChatServlet</url-pattern>
</servlet-mapping>
  
<servlet>  
<servlet-name>StudentChatServlet</servlet-name>  
<servlet-class>StudentChatServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>StudentChatServlet</servlet-name>  
<url-pattern>/StudentChatServlet</url-pattern>
</servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>